/*-------------------------------------------------------
Этот файл стилей собирается из нескольких LESS файлов, которые находятся в папке \resources\assets\less\football\
Его не нужно изменять, т.к. он будет перезаписан и изменения будут потеряны.
Сборка идёт через Elixir. См. http://laravel.su/docs/5.0/elixir
Настройки сборки находятся в файле \resources\assets\less\football\football

Как установить себе Laravel Elixir:
a) Устанавливаем node.js https://nodejs.org/en/
b) Запускаем командную строку (cmd) в режиме администратора
c) Переходим в папку с нашим проектом (cd путь к папке)
d) Запускаем по очереди команды:
    npm install --global gulp
    npm install --save-dev gulp
    npm install
e) После установки сборка идет командой:
    gulp
--------------------------------------------------------*/
.mixin__red-link a,
.mixin__red-link a:hover,
.mixin__red-link a:visited {
  color: #CF333A !important;
}
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: sans-serif;
  background-color: #929cca;
  background-image: url("../images/visuals/bg-body-left.jpg"), url("../images/visuals/bg-body-right.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 100px, right 100px;
  background-attachment: fixed, fixed;
}
@media (max-width: 1400px) {
  body {
    background-position: left 150px, right 150px;
    background-size: 120px auto;
  }
}
h5 {
  font-weight: bolder;
}
h4 {
  line-height: 40px;
}
p:empty {
  display: none !important;
}
table {
  cursor: pointer;
}
a {
  color: #3a61ab;
}
/*------------------------------------------------------*/
.row {
  margin-right: 0;
  margin-left: 0;
}
.login-box-body .col-xs-4,
.login-box-body .col-xs-8 {
  padding: 0;
}
#add_news .col-md-12,
#add_news .box-footer,
#add_news .col-md-4 {
  margin: 0;
  padding: 0;
}
.form_add_news .block-wrapper-title {
  margin-bottom: 50px;
}
#feedback-modal iframe {
  min-height: 490px;
}
#feedback-modal .modal-header {
  border: none;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/RobotoRegular/DINPro.eot");
  src: url("../fonts/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.blue-text {
  color: #3a61ab;
}
.gray-text {
  color: #faf9f9;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-50px {
  margin-top: 50px;
}
/*

.padding_left-right-0{
  padding-left: 0;
  padding-right: 0;
}
.padding-right-0{
  padding-right: 0;
}

*/
.block-wrapper-main,
.block-wrapper-news,
.block-wrapper-meta-edit {
  background: #FFFFFF;
  z-index: 2;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.block-input-radio {
  zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 50%;
  text-align: left;
  display: block;
  float: left;
}
.block-input-radio input {
  width: 21px;
  height: 21px;
  margin: -15px -12px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.block-input-radio label {
  line-height: 22px;
  display: block;
  padding-left: 20px;
  position: relative;
  z-index: 1;
  font-weight: normal;
  cursor: pointer;
}
.block-input-radio label:before {
  display: block;
  position: absolute;
  left: -12px;
  font-weight: normal;
  top: 10px;
  width: 21px;
  height: 17px;
  margin-top: -9px;
  background: rgba(0, 0, 0, 0) url("../images/interface/radiobutton.png") no-repeat;
  z-index: 5;
  content: '';
}
.block-input-radio input:checked + label:before {
  margin-top: -6px;
  font-weight: normal;
  background-position: 0 -17px;
}
.edit-news-submit_btn {
  padding-top: 20px;
}
.hide-meta-tags-edit {
  display: none;
}
/*
.block-input-check {

  zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: left;
  input {
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  label {
    line-height: 22px;
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-left: 25px;
  }
  label:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    background: rgba(0, 0, 0, 0) url("../images/interface/checkbox.png") repeat;
    z-index: 5;
    content: '';
  }
  input:checked + label:before {
    background-position: 0 -20px;
    margin-top: -11px;
  }
}*/
/*------------------------------------------------------*/
.block-wrapper-header {
  background: #cf333a;
}
/*------------------------------------------------------*/
.footer {
  background-color: #1d294a;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
}
.block-footer-contacts {
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  min-height: 150px;
}
.block-footer-fast_links {
  min-height: 150px;
}
.block-footer-fast_links ul li {
  display: inline;
  padding-right: 40px;
}
.block-footer-fast_links a {
  color: #fff;
  font-size: 24px;
}
.block-footer-fast_links-list {
  position: absolute;
  bottom: 0;
}
.block-footer-contacts1-list {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.block-footer-login {
  position: absolute;
  top: 10px;
  right: 10px;
}
.block-footer-login i {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .block-footer-contacts1-list {
    position: relative;
  }
  .block-footer-contacts {
    text-align: none;
  }
  .block-footer-fast_links-list {
    position: relative;
    bottom: 0;
  }
  .block-footer-fast_links ul li {
    display: block;
    padding-right: 40px;
  }
  .block-footer-fast_links,
  .block-footer-contacts {
    padding: 0 20%;
    text-align: left;
  }
  .block-footer-contacts1-list {
    bottom: 0;
    right: 0;
  }
  .block-footer-login {
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: auto;
  }
}
/*------------------------------------------------------*/
.block-header-logo {
  width: auto;
  display: block;
  float: left;
  height: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  min-width: 250px;
  min-height: 150px;
}
.block-header-logo img {
  width: auto;
  height: 80px;
  max-width: 300px;
  margin-left: 30px;
  vertical-align: baseline;
}
.block-header-logo h2 {
  color: #fff;
  margin-left: 30px;
}
.block-header-logo li {
  display: inline-block;
}
.block-header-logo a {
  display: inline;
  text-decoration: none;
  color: #323433;
  font-size: 18px;
  vertical-align: middle;
  margin-left: 15px;
}
/*------------------------------------------------------*/
.block-header-menu {
  font-size: 18px;
  background: #fff;
  display: table;
  position: relative;
  width: 100%;
  height: 50px;
}
.block-header-menu a {
  color: #000;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.block-header-menu a:hover {
  text-decoration: none;
  background: none;
  color: #cf333a;
}
.block-wrapper-header .col-md-12 {
  padding: 0 !important;
}
/*------------------------------------------------------*/
.block-home-offers a:hover,
.block-home-offers a:visited,
.block-home-offers a {
  color: #323433;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  font-family: 'RobotoMedium', sans-serif !important;
}
.block-home-offer {
  width: 24%;
  display: inline-block;
  padding: 5px;
  margin: 0 4%;
  overflow: inherit;
}
.block-home-offers__element {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #bbbbbb;
  margin-top: 20px;
  display: inline-block;
}
.block-home-offers__image img {
  max-height: 300px;
}
.block-home-offers__image-title {
  border-top: 1px solid #bbbbbb;
}
.block-home-offers__image-title h3 {
  margin: 25px 0;
}
@media screen and (min-width: 1200px) {
  .block-home-offers a:hover,
  .block-home-offers a:visited,
  .block-home-offers a {
    color: #323433;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'RobotoMedium', sans-serif !important;
  }
  .block-home-offer {
    width: 24%;
    display: inline-block;
    padding: 5px;
    margin: 0 4%;
    overflow: inherit;
  }
  .block-home-offers__element {
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img {
    max-height: 300px;
  }
  .block-home-offers__image-title {
    border-top: 1px solid #bbbbbb;
  }
  .block-home-offers__image-title h3 {
    margin: 25px 0;
  }
}
@media screen and (max-width: 1199.5px) {
  .block-home-offers a:hover,
  .block-home-offers a:visited,
  .block-home-offers a {
    color: #323433;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    font-family: 'RobotoMedium', sans-serif !important;
  }
  .block-home-offer {
    width: 31%;
    display: inline-block;
    padding: 0;
    margin: 0 1%;
    overflow: inherit;
  }
  .block-home-offers__element {
    min-width: 100%;
    max-width: 400px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
    display: inline-block;
  }
  .block-home-offers__image img {
    max-height: 300px;
  }
  .block-home-offers__image-title {
    border-top: 1px solid #bbbbbb;
  }
  .block-home-offers__image-title h3 {
    margin: 25px 0;
  }
}
@media (max-width: 980px) {
  .block-home-offer {
    width: auto;
    display: inline-block;
    padding: 5px;
  }
}
/*------------------------------------------------------*/
.block-home-offers-edit img {
  width: 100%;
  height: auto;
}
.block-home-offers-edit h3 {
  text-align: left;
  margin: 50px 0 15px 0;
  font-size: 14px;
}
.block-home-offers-edit input[type="file"] {
  margin: 10px auto;
  width: 125px;
}
.block-home-offers-edit button {
  margin-top: 10px;
}
/*------------------------------------------------------*/
.block-meta-edit {
  width: 100%;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
}
.block-meta-edit textarea {
  width: 100%;
  height: 50px;
}
.block-meta-edit button {
  margin-top: 20px;
}
/*------------------------------------------------------*/
.block-home-news__content-img {
  height: 120px;
  width: 30%;
  overflow: hidden;
  float: left;
}
.block-home-news__content-text {
  padding: 15px;
  width: 70%;
  float: right;
  text-overflow: clip;
}
.block-home-news__content {
  width: 100%;
}
.block-home-news__content img {
  width: 100%;
  height: auto;
}
.block-home-news__content-row {
  min-height: 100px;
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin-left: 10px;
}
.block-home-news__buttons {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .block-home-news__content-img {
    height: 200px;
    width: 100%;
  }
  .block-home-news__content-text {
    padding: 15px;
    max-height: 300px;
    width: 100%;
  }
  .block-home-news__content {
    width: 100%;
  }
  .block-home-news__content img {
    width: 100%;
    height: auto;
  }
  .block-home-news__content-row {
    margin-left: 10px;
    margin-right: 10px;
  }
  .block-news-link,
  .btn-primary {
    float: none;
  }
  .block-home-news__buttons {
    text-align: center;
  }
}
.block-news-link:hover,
.btn-primary:hover {
  background-color: #B72C2C;
  border-color: #B72C2C;
  color: #FFFFFF !important;
  text-decoration: none;
}
.block-news-link:hover a,
.btn-primary:hover a {
  color: #FFFFFF;
  text-decoration: none;
}
.block-home-news {
  margin-bottom: 50px;
}
.block-home-news a:hover {
  color: #323433;
  text-decoration: none;
}
.block-home-news a:focus {
  color: #323433;
  text-decoration: none;
}
.block-news-link,
.btn-primary {
  padding: 10px 40px 10px 40px;
  background-color: #CF333A;
  color: #323433;
  font-size: 18px;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 0;
  border-color: #CF333A;
  color: #FFFFFF;
  text-decoration: none;
}
.block-news-link a,
.btn-primary a {
  color: #FFFFFF;
  text-decoration: none;
}
/*------------------------------------------------------*/
.block-home-slider {
  height: auto;
  position: relative;
}
.block-home-slider img {
  width: 100%;
}
.block-home-slider .carousel-indicator {
  color: #FFFFFF;
  text-indent: 0 !important;
}
.block-home-slider-caption {
  position: absolute;
  top: 20%;
  right: 15%;
  display: none;
}
.active .block-home-slider-caption {
  display: block;
}
.block-home-slider-caption h1 {
  font-size: 51px;
  color: #fff;
  font-weight: lighter;
}
.block-home-slider-caption h3 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: normal;
}
.carousel-indicators {
  position: absolute;
  bottom: 20px;
}
.carousel-inner {
  height: 450px;
  overflow: hidden;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 0;
  margin-left: 0;
  text-align: none;
  list-style: none;
}
.ad-home-visual ul li {
  margin: 0;
}
.carousel-indicators .carousel-indicator {
  display: inline-block;
  width: 25%;
  height: 70px;
  margin: 0;
  float: left;
  padding: 0;
  text-indent: -999px;
  cursor: pointer;
  background-color: #333;
  border: 0px solid #ffffff;
  border-radius: 0;
  border-left: 1px solid #fff;
  padding-top: 14px;
}
.carousel-indicators .carousel-indicator-1 {
  border-left: none;
}
.carousel-indicators .active {
  width: 25%;
  height: 70px;
  margin: 0;
  background-color: #cf333a;
  padding-top: 0px;
}
.carousel-indicators .active:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #cf333a;
  border-right: 12px solid  transparent;
  position: relative;
  top: -12px;
  left: 47%;
}
@media (max-width: 767px) {
  .block-home-slider-caption,
  .carousel-indicators,
  .block-header-menu {
    display: none;
  }
  .block-home-slider {
    height: 70px;
  }
}
/*Слайдеры предложения*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
  transition-duration: 2s;
}
.item,
.active.left,
.active.right {
  opacity: 0.5;
}
.active,
.next.left,
.prev.right {
  opacity: 1;
}
.next,
.prev,
.active.left,
.active.right {
  left: 0;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/**/
/*------------------------------------------------------*/
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  color: #000;
  background-color: #fff;
  border: 1px solid #ffc100;
}
/*------------------------------------------------------*/
.block-contacts-block {
  padding: 30px;
}
.block-contacts-block .fa {
  font-size: 24px;
}
.block-contacts-block h4 {
  margin-bottom: 15px;
}
.block-contacts-block td {
  padding: 10px;
}
#edit_contact .delete_office {
  margin-right: 40px;
}
.block-contacts-marker {
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px 15px;
  margin-right: 7px;
}
.block-contacts-day_marker {
  font-weight: bold;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
}
.block-contacts-day_marker + .block-contacts-day_marker {
  position: relative;
  top: 10px;
  left: -10px;
}
.gray-bg {
  background: #fbf9fa;
}
.block-contacts-phone_icon {
  color: #fff;
  background: #ffc100;
  border-radius: 50%;
  padding: 8px 10px;
}
.block-contacts-schedule {
  margin-top: 30px;
}
.block-contacts-schedule p {
  line-height: 3;
  font-size: 16px;
}
.block-contacts-day_marker-sunday {
  font-size: 13px!important;
  position: relative;
  left: 95px;
  top: -30px;
}
.block-contacts-day_marker-sunday:last-child {
  top: -60px;
}
.block-contacts-block__time-labels,
.block-contacts-block__dash-labels {
  line-height: 30px;
}
/*------------------------------------------------------*/
.block-wrapper-news {
  padding-top: 20px;
}
.block-news .col-md-6,
.block-news .col-md-12 {
  padding: 0;
}
.block-news {
  padding: 30px 80px;
  overflow: hidden;
}
.block-new1 {
  border: 1px solid #dddddd;
}
.block-new1 a {
  color: #000;
}
.block-news-content {
  overflow: hidden;
  min-height: 300px;
  padding: 20px;
}
.block-news .col-md-12 {
  padding-right: 0;
  padding-left: 0;
  padding: 20px;
}
.block-news-img {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.block-news-img img {
  height: auto;
  width: 100%;
}
.block-news-content-text {
  overflow: hidden;
}
.block-news-read_more {
  float: right;
  margin: 20px 20px 10px 20px;
}
.sort_news,
.delete_news {
  float: right;
  cursor: pointer;
}
.block-wrapper-news .sort_news,
.block-wrapper-news .delete_news {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .block-news-content {
    min-height: 400px;
    padding: 20px;
  }
}
.block-news-element {
  margin-right: 20px;
  margin-bottom: 40px;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
.block-news-element_img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100px;
}
.block-news-element_img a {
  text-decoration: none;
  vertical-align: middle;
}
.block-news-element_img a:hover {
  cursor: pointer;
  text-decoration: none;
}
.block-news-element_img img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.block-news-element_description {
  display: block;
  margin: 0;
  width: 100%;
  padding: 25px;
}
.block-news-element_description h4 {
  margin-top: 0;
  padding-top: 5px;
}
.block-news-element_description h4 a {
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}
.block-news-element_description h4 a:hover {
  text-decoration: none;
  cursor: pointer;
}
/*------------------------------------------------------*/
.block-new-page button {
  margin-right: 20px;
}
.block-wrapper-new {
  background-color: #fff;
  padding: 0;
}
.block-new-description {
  display: inline-block;
  float: right;
  width: 40%;
  background-color: #3a61ab;
  height: 350px;
  color: #fff;
  padding: 20px;
}
.block-new-description:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 50px solid #3a61ab;
  border-bottom: 40px solid  transparent;
  position: relative;
  top: -60%;
  left: -67px;
}
.block-new-img {
  display: inline-block;
  float: left;
  width: 60%;
  height: 350px;
  overflow: hidden;
}
.block-new-img img {
  height: auto;
  width: 100%;
}
.block-new-content {
  padding: 40px;
  font-size: 20px;
}
.block-new__date,
.block-new__image-choose {
  padding: 0 0 20px 0;
}
.block-new__description {
  height: 90px !important;
}
.block-new__hint {
  font-size: 13px;
  margin-top: 10px;
}
/*------------------------------------------------------*/
.block-another-news {
  overflow: hidden;
  margin-bottom: 30px;
}
.block-another-news-wrapper {
  background-color: #fafafa;
}
.block-another-news a {
  color: #000;
}
.block-another-news__item {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.item-image {
  height: 12em;
  border: 2px solid #DDDDDD;
}
.item-image img {
  width: 100%;
}
.item-image img {
  width: 100%;
}
.block-another-news-item_bottom_text {
  position: relative;
  text-align: center;
  max-height: 130px;
  border: 2px solid #DDDDDD;
  border-top: none;
  background-color: white;
  min-height: 130px;
  padding: 30px 0 30px 0;
}
.block-another-news-item_bottom_text a {
  color: #000;
}
/*------------------------------------------------------*/
.ll-menu-panel-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: #ddd;
  color: #323433;
  width: 90%;
  max-width: 300px;
  padding: 0;
  z-index: 101;
  overflow: auto;
  box-shadow: 2px 0px 2px 0px #363636;
}
a.ll-menu-panel-trigger {
  z-index: 102;
  position: fixed;
  text-decoration: none;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #323433;
  padding: 10px 15px 10px 15px;
  display: none;
}
.ll-menu-panel-left a.ll-menu-panel-trigger {
  display: block;
}
.ll-menu-panel-left-user {
  height: 80px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  text-align: center;
}
.ll-menu-panel-left-list {
  margin-top: 50px;
  position: relative;
}
.ll-menu-panel-left-links {
  margin-top: 10px;
  position: relative;
}
.ll-menu-panel-left-links a.llg-button {
  position: relative;
  display: block;
  background-color: #F5DA81 !important;
  padding: 10px 15px;
  color: #555;
  text-align: left;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
.ll-menu-panel-left-links a.llg-button:before {
  font-family: FontAwesome;
  padding-right: 7px;
  content: "\f075 ";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.ll-menu-panel-left .ll-header-user {
  position: relative !important;
  margin-top: 10px !important;
  text-align: center !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 10 !important;
  display: inline !important;
}
@media (max-width: 767px) {
  a.ll-menu-panel-trigger {
    display: block;
  }
  .ll-header-user {
    display: none;
  }
  .ll-menu-panel-left .ll-header-user {
    position: none;
    margin-top: none;
    text-align: none;
    top: none;
    right: none;
    z-index: none;
    display: none;
  }
  .ll-header-links {
    display: none;
  }
  .llg-wrapper-header .col-md-4 {
    width: 100%;
    text-align: center;
    height: 70px;
  }
  .ll-logo {
    display: inline;
  }
  .ll-logo img {
    margin-top: 10px;
    max-width: 200px;
  }
  .ll-header-menu {
    display: none;
  }
}
.list-group-item {
  position: relative;
  display: block;
  padding: 20px 15px;
  margin-bottom: -1px;
  background-color: #eacc36;
  border: 1px solid #ddd;
  text-align: center;
}
.list-group-item-success {
  color: #3c763d;
  background-color: #e1bb18;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #e1bb18;
  background-color: #f5f5f5;
}
a.list-group-item-success {
  color: #ffffff;
}
.panel {
  margin-bottom: 20px;
  background-color: none;
  border: 0px solid transparent;
  border-radius: 0;
  box-shadow: none;
}
/*------------------------------------------------------*/
.ad-auth-admin {
  margin-top: 10%;
  margin-bottom: 10%;
}
.login-box {
  width: 375px;
  display: inline-block;
}
/*------------------------------------------------------*/
.block-new-social-buttons {
  float: right;
  margin: 50px 0;
  padding-right: 60px;
}
.block-new-social-buttons ul {
  clear: both;
}
.block-new-social-buttons ul li {
  display: inline;
}
.block-new-social-buttons i {
  width: 35px;
  height: 35px;
  color: #FFFFFF;
  background: #3a61ab;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
/*------------------------------------------------------*/
.block-home-about {
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 70%;
  height: auto;
  padding: 1.8em;
  border: 1px solid #ffc100;
  overflow: hidden;
}
.block-home-about p {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 0;
  text-indent: 2em;
}
.ad-about_us-structure h1 {
  color: #ffc100;
  text-align: center;
}
.ad-about_us-structure img {
  width: 98%;
  height: auto;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 2em;
}
@media screen and (max-width: 580px) {
  .ad-about_us-structure img {
    width: 100%;
    height: 180px;
  }
}
/*------------------------------------------------------*/
.block-social-buttons {
  display: block;
  float: right;
  padding: 25px 0;
  margin-right: 60px;
  margin-top: 40px;
}
.block-social-buttons li {
  display: block;
  float: left;
  margin: 0 6px 0 0;
}
.block-social-buttons i {
  width: 35px;
  height: 35px;
  color: #cf333a;
  background: #FFFFFF;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 17px;
  text-align: center;
  line-height: 35px;
}
/*------------------------------------------------------*/
.block-partners {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}
.block-partners h3 {
  margin-bottom: 1.8em;
}
.block-item-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.block-item {
  width: 30%;
  padding: 10px;
  margin: inherit;
}
.block-item img {
  width: 100%;
  height: auto;
}
/*------------------------------------------------------*/
.block-standings {
  background: ghostWhite;
  padding: 40px;
}
.block-standings table {
  width: 100%;
}
.block-standings img {
  height: 40px;
  width: auto;
  display: inline;
  float: left;
}
.block-standings p {
  margin-top: 10px;
}
.block-standings i {
  color: red;
  font-weight: bold;
}
.block-standings th {
  background: #f1f1f1;
  padding: 15px;
  font-size: 18px;
  color: #696969;
  text-align: center;
}
.block-standings td {
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
.block-standings-table1 td {
  background: #fff;
}
/*------------------------------------------------------*/
.block-calendar-item {
  border-top: 1px solid #dddddd;
  width: 100%;
  padding: 20px;
}
.block-calendar-item-date {
  display: inline-block;
  width: 14%;
  min-width: 30px;
  text-align: center;
  height: 80px;
  vertical-align: bottom;
}
.block-calendar-item-logo {
  display: inline-block;
  width: 30%;
  min-width: 30px;
  text-align: center;
  height: 80px;
}
.block-calendar-item-logo img {
  display: inline-block;
  height: 50px;
  float: left;
}
.block-calendar-item-bill {
  display: inline-block;
  width: 10%;
  min-width: 30px;
  text-align: center;
  height: 80px;
}
.block-calendar-item-button {
  display: inline-block;
  width: 14%;
  min-width: 30px;
  text-align: center;
  height: 80px;
}
.block-wrapper-calendar hr {
  border: none;
  color: #3a61ab;
  background-color: #3a61ab;
  height: 2px;
  margin-bottom: 0;
}
.block-calendar-season select {
  float: right;
  display: inline;
  width: 50%;
}
.block-calendar-season label {
  float: left;
  display: inline;
  width: 50%;
}
.block-calendar-tournament select {
  float: right;
  display: inline;
  width: 50%;
}
.block-calendar-tournament label {
  float: left;
  display: inline;
  width: 50%;
}
.block-wrapper-calendar {
  background-color: #fff;
  padding: 40px;
}
/*------------------------------------------------------*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #f1f1f1;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}
.block-home-matches {
  min-height: 450px;
}
.tab-content p {
  font-size: 20px;
  color: #A9A9A9;
}
.block-home-matches-image-left p,
.block-home-matches-image-right p {
  font-size: 18px;
  color: #696969;
  margin: 25px 0;
}
.block-home-matches-image-left,
.block-home-matches-image-right {
  margin: 25px 0;
}
.tab-pane {
  margin: 25px 0;
}
.col-md-5,
.col-md-7 {
  padding-right: 0;
  padding-left: 0;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs li {
  width: 50%;
  text-align: center;
  background-color: #f1f1f1;
  color: #000;
}
.nav-tabs > li > a {
  padding: 15px;
  font-size: 18px;
  color: #A9A9A9;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #696969;
  font-weight: bold;
  cursor: default;
  background-color: #f1f1f1;
  border: 0;
  border-bottom: 3px solid #696969;
}
.block-home-matches img {
  width: 120px;
}
.block-home-matches-image-left {
  float: left;
  display: inline;
  width: 50%;
}
.block-home-matches-image-right {
  float: right;
  display: inline;
  width: 50%;
}
.block-home-matches-image-block {
  min-height: 150px;
}
/*------------------------------------------------------*/
.block-home-standings {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.block-home-title {
  display: block;
  margin: 0;
  padding: 30px 40px;
  background-color: #faf9f9;
  text-align: center;
  width: 100%;
}
.block-home-standings-standings_table {
  margin: 0;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  width: 100%;
}
.block-home-standings-standings_table table {
  width: 100%;
  margin: 0;
}
.block-home-standings-standings_table tr,
.block-home-standings-standings_table thead {
  text-align: center;
}
.block-home-standings-standings_table thead {
  background-color: #faf9f9;
}
.block-home-standings-standings_table thead th,
.block-home-standings-standings_table thead td,
.block-home-standings-standings_table thead tr {
  border: none;
  background-color: #faf9f9;
}
.block-home-standings-standings_table tr {
  width: 100%;
}
.block-home-standings-standings_table tr,
.block-home-standings-standings_table td {
  padding: 10px;
  vertical-align: top;
  border: none;
  text-align: center;
}
.block-home-standings-standings_table tr:nth-child(2n) {
  background-color: #faf9f9;
  border-top: 1px solid #faf9f9;
}
.block-home-standings-standings_table tr:nth-child(2n) tr td {
  background-color: #faf9f9;
}
/*------------------------------------------------------*/
.block-home-votes .block-input-radio {
  width: 100%;
}
.block-votes-list {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.votes-list-line {
  display: block;
  height: auto;
  padding: 10px 40px;
  margin: 0;
  width: 100%;
  float: left;
  text-align: center;
}
/*------------------------------------------------------*/
.block-team__player {
  width: 20%;
  margin: 0 1%;
}
.block-team__player img {
  width: 100%;
  height: auto;
}
.block-team__player-title {
  background: #3555a1;
  color: #FFFFFF;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}
/*------------------------------------------------------*/

/*# sourceMappingURL=football.css.map */
