@base_blue_bg: #1d294a;  //  new color  football
@base_blue_color: #3a61ab;  //  new color  football
@button_color: #cf333a;  //  new color  football
@header_bg: #cf333a;  //  new color  football
@news_header: #99aad0;  //  new color  football
@gray_bg: #faf9f9;  //  new color  football
@last_news: #1d294a;  //  new color  football


@base_yellow_color: #ffc100;
@mustard_color: #fbc01c;
@text_menu_color: #323433;
@footer_background_color: #323433;
@news_background_color: #FAFAFA;
@menu_background_color: #fafafa;
@menu_header_link_hover: #efefef;
@base_padding: 10px;
@base_margin: 10px;
@base_font_size: 15px;
@base_red_color: #CF333A; //  new color football
@base_dark_red_color: #B72C2C;  //  new color  football
@base_gray_color: #f1f1f1;
@base_dark_gray_color: #808080;
@base_light-gray_color: #DDDDDD;