.mixin__no-padding ()      { padding: 0; }
.mixin__no-left-padding ()   { padding-left: 0; }
.mixin__no-right-padding ()  { padding-right: 0; }
.mixin__no-top-padding ()    { padding-top: 0; }
.mixin__no-bottom-padding () { padding-left: 0; }
.mixin__no-margin ()        { margin: 0; }
.mixin__no-border ()        { border: none; }
.mixin__no-border-radius ()  { border-radius: 0; }
.mixin__no-list-style ()   { list-style: none; }
.mixin__hide ()            { display: none; }
.mixin__block ()           { display: block; }
.mixin__float-right ()      {
  display: block;
  float: right;
}
.mixin__float-left ()       {
  display: block;
  float:left;
}
.mixin__no-float ()         { float: none; }
.mixin__text-center ()      { text-align: center; }
.mixin__text-right ()       { text-align: right; }
.mixin__text-left ()        { text-align: left; }
.mixin__clear ()           { clear: both; }

.mixin__border-radius (@radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
}

.mixin__transition (@value) {
  transition: @value;
  -moz-transition: @value;
  -webkit-transition: @value;
  -o-transition: @value;
  -ms-transition: @value;
}

.mixin__bordered (@color) {
  border: solid 1px @color;
}
.mixin__base-padding () {padding:@base_padding;}
.mixin__base-margin () {margin:@base_margin;}
.mixin__base-margin-and-padding () {
  .mixin__base-margin;
  .mixin__base-padding;
}
.mixin__strike-through () {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #676767 !important;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-5deg);
}

.mixin__select-placeholder () {
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.mixin__gray-container () {
  background-color: #E0E0E0;
  padding-bottom: 30px;
  overflow: hidden;
//  border-bottom: 1px solid #808080;
  box-shadow:0 1px 10px -2px rgba(0, 0, 0, 0.701961) ;
}
.mixin__red-link {
  a,
  a:hover,
  a:visited {
    color:@base_red_color !important;
  }
}