.block-standings{
	background: ghostWhite;
	padding: 40px;
}
.block-standings table{
	width: 100%;
}
.block-standings img{
	height: 40px;
	width: auto;
	display: inline;
	float:left; 
}
.block-standings p {
    margin-top: 10px;
}
.block-standings i {
    color: red;
	font-weight: bold;
}
.block-standings th{
	background: #f1f1f1;
	padding: 15px;
	font-size: 18px;
	color: #696969;
	text-align: center;
}
.block-standings td{
	font-size: 18px;	
	padding: 15px;	
	text-align: center;	
}

.block-standings-table1 td{
	background: #fff;
}