.block-team {
}
.block-team__player {
	width: 20%;
	margin: 0 1%;
	img {
		width:100%;
		height:auto;
	}
}
.block-team__player-title {
	background: #3555a1;
	color: #FFFFFF;
	text-transform: uppercase;
	overflow: hidden;
	width: 100%;
}
