.block-wrapper-news{
	//border-top: 2px solid #dddddd;
	padding-top: 20px;
}
.block-news .col-md-6, .block-news .col-md-12{
	padding: 0;
}
.block-news{
	padding: 30px 80px;
	overflow: hidden;
}
.block-new1{
	border: 1px solid #dddddd;
 // padding: 10px;
  a {
  color: #000;
	}
}
.block-news-content {
	overflow: hidden;		
	min-height: 300px;
	padding: 20px;
}
.block-news .col-md-12 {
    padding-right: 0;
    padding-left: 0;
	padding: 20px;	
}
.block-news-img {
	max-height: 300px;
	width: 100%;
	overflow: hidden;
  	padding: 0;
}
.block-news-img img {
	height: auto;
	width: 100%;
}
.block-news-content-text {
	overflow: hidden;	
}
.block-news-read_more {
	float: right;
	margin: 20px 20px 10px 20px;
}
.sort_news,
.delete_news {
	float:right;
	cursor:pointer;
}
.block-wrapper-news .sort_news,
.block-wrapper-news .delete_news {
	margin-top:20px;
}
@media (max-width: 767px) {
	.block-news-content{
		min-height: 400px;
		padding: 20px;
	}	
}

.block-news-element{
  margin-right: 20px;
  margin-bottom: 40px;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  
}

.block-news-element_img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100px;
  a{
	text-decoration: none;
	vertical-align: middle;
  }
  a:hover{
	cursor: pointer;
	text-decoration: none;
  }
  img{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
  }
  
}

.block-news-element_description{
  display: block;
  margin: 0;
  width: 100%;
  padding: 25px;
  
  h4{
	margin-top: 0;
	padding-top: 5px;

	a{
	  text-decoration: none;
	  vertical-align: middle;
	  width: 100%;

	}
	a:hover{
	  text-decoration: none;
	  cursor: pointer;
	}

  }



}



