.block-home-votes {
  .block-input-radio{width: 100%}
}

.block-votes-list {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.votes-list-line {
  display: block;
  height: auto;
  padding: 10px 40px;
  margin: 0;
  width: 100%;
  float: left;
  text-align: center;
}