 .block-header-logo {
  width: auto;
  display: block;
  float: left;
  height: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  min-width: 250px;
  min-height: 150px;
  img {
    width: auto;
    height: 80px;
    max-width: 300px;
    margin-left: 30px;
    vertical-align:baseline;
  }
  h2 {
    color: #fff;
    margin-left: 30px;
  }
  li {
    display: inline-block;
  }
  a {
    display: inline;
    text-decoration: none;
    color: @text_menu_color;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 15px;
  }
}