.block-new-page {
  button {
    margin-right:20px;
  }
}
.block-wrapper-new {
    background-color: #fff;
    padding: 0;
}

.block-new-description {
	display: inline-block;
	float: right;
	width: 40%;
	background-color: #3a61ab;
	height: 350px;	
	color: #fff;
	padding: 20px;
}
.block-new-description:after {
	 content: "";
	 display: block;
	 width: 0; 
	 height: 0; 
	 border-top: 40px solid transparent;
	 border-right: 50px solid #3a61ab;
	 border-bottom: 40px solid  transparent;
	 position: relative;
	 top: -60%;
	 left: -67px;
}

.block-new-img {
	display: inline-block;
	float: left;
	width: 60%;
	height: 350px;
	overflow: hidden;
}
.block-new-img img {
    height: auto;
    width: 100%;
}

.block-new-content {
	padding: 40px;
	font-size: 20px;	
}
.block-new__date,
.block-new__image-choose {
	padding:0 0 20px 0;
}
.block-new__description {
	height:90px !important;
}
.block-new__hint {
	font-size:13px;
	margin-top:10px;
}


