.block-home-standings {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding:0;
}

.block-home-title{
  display: block;
  margin: 0;
  padding: 30px 40px;
  background-color: @gray_bg;
  text-align: center;
  width: 100%;
}


.block-home-standings-standings_table{
  margin: 0;

  border-collapse: collapse;
  font-size: 16px;
  //border-spacing: 0;
  text-align: center;
  width: 100%;

  table{
    width: 100%;
    margin: 0;

  }


  tr,thead{text-align: center;}
  thead{background-color: @gray_bg;
    th,td,tr{
      border: none;
      background-color: @gray_bg;
    }

  }

  tr{
    width: 100%;}
  tr,td{
    padding: 10px;
    vertical-align: top;
    border: none;
    text-align: center;
  }


tr:nth-child(2n){
  background-color: @gray_bg;
  border-top:1px solid @gray_bg ;
 tr td{
    background-color: @gray_bg;
  }
}



}