.block-partners {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;

  h3{
    margin-bottom: 1.8em;
  }

  }


.block-item-list{
  display: flex;
  justify-content: space-between;
}
.block-item{
  width: 30%;
  padding: 10px;
  margin: inherit;
  
  img{
    width: 100%;
    height: auto;
  }
}
  