.block-home-slider{
  height: auto;
  position: relative;
  img {
    width: 100%;
  }
  .carousel-indicator {
    color:#FFFFFF;
    text-indent:0 !important;
  }
}

.block-home-slider-caption {
  position: absolute;
  top: 20%;
  right: 15%;
  display:none; // начальная установка, у активных элементов включается
}
.active .block-home-slider-caption {
  display:block;
}
.block-home-slider-caption h1{
  font-size: 51px;
  color: #fff;
  font-weight: lighter;
}
.block-home-slider-caption h3{
  font-size: 28px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: normal;
}
.carousel-indicators{
  position: absolute;
  bottom: 20px;
}

.carousel-inner {
    height: 450px;
	overflow: hidden;
}

.carousel-indicators {
    position: absolute;
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
	padding: 0;
    margin-left: 0;
    text-align: none;
    list-style: none;	
}
.ad-home-visual ul li {
    margin: 0;
}

.carousel-indicators .carousel-indicator{
    display: inline-block;
    width: 25%;
    height: 70px;
    margin: 0;
	float: left;
    padding: 0;	
    text-indent: -999px;
    cursor: pointer;
    background-color: #333;
    border: 0px solid #ffffff;
    border-radius: 0;
	border-left: 1px solid #fff;
	padding-top: 14px;	
	}
.carousel-indicators .carousel-indicator-1{
	border-left: none;	
}	
.carousel-indicators .active {
    width: 25%;
    height: 70px;
    margin: 0;
    background-color: #cf333a;
	padding-top: 0px;	
}
.carousel-indicators .active:before {
 content: "";
 display: block;
 width: 0; 
 height: 0; 
 border-left: 12px solid transparent;
 border-bottom: 12px solid #cf333a;
 border-right: 12px solid  transparent;
 position: relative;
 top: -12px;
 left: 47%;
}

@media (max-width: 767px) {
	.block-home-slider-caption, .carousel-indicators, .block-header-menu{
		display: none;	
	}
	.block-home-slider{
		height: 70px;
	}	
}

/*Слайдеры предложения*/
 .carousel-fade   .carousel-inner 
.item {
            transition-property: opacity;
			transition-duration: 2s; 			
        }
        
.item,
        .active.left,
        .active.right {
            opacity: 0.5;
        }

.active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

.next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
        }

 .carousel-fade   .carousel-control {
        z-index: 2;
    }



/**/
