.block-social-buttons {
  .mixin__float-right;
  padding: 25px 0;
  margin-right: 60px;
  margin-top: 40px;  
    li {
      .mixin__float-left;
      margin: 0 6px 0 0;
    }
    i {
        width: 35px;
        height: 35px;
        color: @header_bg;
        background: #FFFFFF;
        .mixin__border-radius (50px);
        font-size: 17px;
        text-align:center;
        line-height: 35px;
    }
}