.block-calendar-item{
	border-top: 1px solid #dddddd;
	width: 100%;
	padding: 20px;
}
.block-calendar-item-date{
	display: inline-block;
	width: 14%;
	min-width: 30px;
	text-align: center;
	height: 80px;
	vertical-align: bottom;
}
.block-calendar-item-logo{
	display: inline-block;
	width: 30%;
	min-width: 30px;
	text-align: center;
		height: 80px;
}
.block-calendar-item-logo img{
	display: inline-block;
	height: 50px;
	float: left;
}
.block-calendar-item-bill{
	display: inline-block;
	width: 10%;
	min-width: 30px;
	text-align: center;
		height: 80px;
}
.block-calendar-item-button{
	display: inline-block;
	width: 14%;
	min-width: 30px;
	text-align: center;
		height: 80px;
}
.block-wrapper-calendar  hr {
    border: none; 
    color: #3a61ab; 
    background-color: #3a61ab; 
    height: 2px;
	margin-bottom: 0;
   }
.block-calendar-season select{
	float: right;
	display: inline;
	width: 50%;
}
.block-calendar-season label{
	float: left;
	display: inline;
	width: 50%;
}
.block-calendar-tournament select{
	float: right;
	display: inline;
	width: 50%;
}
.block-calendar-tournament label{
	float: left;
	display: inline;
	width: 50%;
}
.block-wrapper-calendar{
	background-color: #fff;
	padding: 40px;
}



