.block-home-news__content-img{
	height: 120px;
	width: 30%;
	overflow: hidden;
	float: left;
}
.block-home-news__content-text{
	padding: 15px;
	width: 70%;	
	float: right;
	text-overflow: clip;
}

.block-home-news__content {
	width: 100%;
}   
.block-home-news__content img{
	width: 100%;
	height: auto;
}
.block-home-news__content-row{
	min-height: 100px;
	border: 1px solid #f1f1f1;
	display: inline-block;
	margin-left: 10px;
}

.block-home-news__buttons{
	margin-top:20px;
}


@media (max-width: 767px) {
.block-home-news__content-img{
	height: 200px;
	width: 100%;
}
.block-home-news__content-text{
	padding: 15px;
	max-height: 300px;
	width: 100%;	
}

.block-home-news__content {
	width: 100%;
}   
.block-home-news__content img{
	width: 100%;
	height: auto;
}
.block-home-news__content-row{
	margin-left: 10px;
	margin-right: 10px;
}

.block-news-link, .btn-primary {
    float: none;
}
.block-home-news__buttons{
	text-align: center;
}
}

.block-news-link:hover,
.btn-primary:hover {
	background-color: @base_dark_red_color;
	border-color: @base_dark_red_color;
	color: #FFFFFF !important;
	text-decoration: none;
	a {
		color:#FFFFFF;
		text-decoration: none;
	}
}
.block-home-news {
	margin-bottom: 50px;
	a:hover{
		color: @text_menu_color;
		text-decoration: none;
	}
	a:focus {
		color: @text_menu_color;
		text-decoration: none;
	}
}
.block-news-link,
.btn-primary {
	padding: 10px 40px 10px 40px;
	background-color: @base_red_color;
	color: @text_menu_color;
	font-size: 18px;
	float: right;
	text-decoration: none;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius:0;
	border-color: @base_red_color;
	color:#FFFFFF;
	text-decoration: none;
	a {
		color:#FFFFFF;
		text-decoration: none;
	}
}



