.block-home-matches {

}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #f1f1f1;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
}
.block-home-matches{
	min-height: 450px;
}
.tab-content p{
	font-size: 20px;
	color: #A9A9A9;	
}
.block-home-matches-image-left p, .block-home-matches-image-right p{
	font-size: 18px;
	color: #696969;	
	margin: 25px 0;	
}
.block-home-matches-image-left, .block-home-matches-image-right{
	margin: 25px 0;	
}
.tab-pane{
	margin: 25px 0;
}
.col-md-5,  .col-md-7{
    padding-right: 0;
    padding-left: 0;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs li{
	width: 50%;
	text-align: center;
	background-color: #f1f1f1;
	color: #000;
}
.nav-tabs > li > a {
	padding: 15px;
	font-size: 18px;
	color: #A9A9A9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #696969;
	font-weight: bold;
    cursor: default;
    background-color: #f1f1f1;
    border: 0;
    border-bottom: 3px solid #696969;
}
.block-home-matches img{
width: 120px;	
}
.block-home-matches-image-left{
	float: left;
	display: inline;
	width: 50%;
}
.block-home-matches-image-right{
	float: right;
	display: inline;
	width: 50%;
}
.block-home-matches-image-block{
	min-height: 150px;
}