.block-new-social-buttons{
	float: right;
	margin: 50px 0;
	padding-right: 60px;
}
.block-new-social-buttons {
	ul {
		clear:both;
		li {
			display: inline;
		}
	}
}

.block-new-social-buttons i {
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    background: #3a61ab;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
	cursor: pointer;	
}