.footer {
  background-color: @base_blue_bg;
  padding-top: 70px;
  padding-bottom: 70px;
  position:relative;
  z-index:1;
  margin-top: -50px;
}
.block-footer-contacts {
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  min-height: 150px;
   }
 
 .block-footer-fast_links { 
  min-height: 150px;
   ul li {
     display: inline;
     padding-right: 40px;
   }
   a {
     color: #fff;
     font-size: 24px;
   }
 }
.block-footer-fast_links-list {
  position: absolute;
  bottom: 0;
}
.block-footer-contacts1-list {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.block-footer-login {
  position: absolute;
  top: 10px;
  right: 10px;
  i {
    color: #FFFFFF;
  }
}

@media (max-width: 767px) {
.block-footer-contacts1-list {
    position: relative;
}
.block-footer-contacts {
    text-align: none;
}
.block-footer-fast_links-list {
    position: relative;
    bottom: 0;
}
.block-footer-fast_links ul li {
    display: block;
    padding-right: 40px;
}
.block-footer-fast_links, .block-footer-contacts {
    padding: 0 20%;
	text-align: left;
}
.block-footer-contacts1-list {
    bottom: 0;
    right: 0;
}
.block-footer-login {
    position: absolute;
    bottom: 10px;
    right: 10px;
	top: auto;
}
}