    .block-header-menu {
		font-size: 18px;
		background: #fff;
         display: table; 
		 position: relative;
         width: 100%; 
		 height: 50px;
    }
    .block-header-menu a {
		color: #000;
        display: table-cell;
        text-align: center; 
		vertical-align: middle;
    }
.block-header-menu a:hover {
    text-decoration: none;
	background: none;
    color: #cf333a;
}
.block-wrapper-header {
  .col-md-12 {
    padding:0 !important;
  }
}