// Уведомление для собранного CSS-файла
/*-------------------------------------------------------
Этот файл стилей собирается из нескольких LESS файлов, которые находятся в папке \resources\assets\less\football\
Его не нужно изменять, т.к. он будет перезаписан и изменения будут потеряны.
Сборка идёт через Elixir. См. http://laravel.su/docs/5.0/elixir
Настройки сборки находятся в файле \resources\assets\less\football\football

Как установить себе Laravel Elixir:
a) Устанавливаем node.js https://nodejs.org/en/
b) Запускаем командную строку (cmd) в режиме администратора
c) Переходим в папку с нашим проектом (cd путь к папке)
d) Запускаем по очереди команды:
    npm install --global gulp
    npm install --save-dev gulp
    npm install
e) После установки сборка идет командой:
    gulp
--------------------------------------------------------*/

// ------------------------------------------------------
@import "_global_variables"; // Переменные
@import "_mixins"; // Миксины

@import "_global_selectors"; // Стили для селекторов на всем сайте
/*------------------------------------------------------*/
@import "_global_classes"; // Стили для глобальных классов на всем сайте
/*------------------------------------------------------*/


// БЛОКИ: --------------------------------------------------------------------------------------------------------------


@import "block-header"; // шапка
/*------------------------------------------------------*/
@import "block-footer-contacts"; // футер
/*------------------------------------------------------*/
@import "block-header-logo";
/*------------------------------------------------------*/
@import "block-header-menu";
/*------------------------------------------------------*/
@import "block-home-offers";
/*------------------------------------------------------*/
@import "block-home-offers-edit";
/*------------------------------------------------------*/
@import "block-meta-edit";
/*------------------------------------------------------*/
@import "block-home-news";
/*------------------------------------------------------*/
@import "block-home-slider";
/*------------------------------------------------------*/
@import "block-pagination";
/*------------------------------------------------------*/
@import "block-contacts";
/*------------------------------------------------------*/
@import "block-news";
/*------------------------------------------------------*/
@import "block-new-page";
/*------------------------------------------------------*/
@import "block-another-news";
/*------------------------------------------------------*/
@import "block-menu-panel-left";
/*------------------------------------------------------*/
@import "block-auth-admin";
/*------------------------------------------------------*/
@import "block-new-social-buttons";
/*------------------------------------------------------*/
@import "block-about";
/*------------------------------------------------------*/
@import "block-social-buttons";
/*------------------------------------------------------*/
@import "block-partners";
/*------------------------------------------------------*/
@import "block-standings";
/*------------------------------------------------------*/
@import "block-calendar";
/*------------------------------------------------------*/
@import "block-home-matches";
/*------------------------------------------------------*/
@import "block-home-standings";
/*------------------------------------------------------*/
@import "block-home-votes";
/*------------------------------------------------------*/
@import "block-team";
/*------------------------------------------------------*/